<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="logdir" value="d:\logs\HeyCoder.NLog.Extensions\"/>

  <extensions>
    <add assembly="HeyCoder.NLog.Extensions" />
  </extensions>

  <targets>
    <target name="global" xsi:type="File" keepFileOpen="false" encoding="utf-8"
         fileName="${logdir}/${shortdate}/${level}/current.log"
          archiveFileName="${logdir}/${shortdate}/${level}/log.{###}.txt"
          archiveAboveSize="10240000"
          archiveNumbering="Sequence"
          maxArchiveFiles="100"
          concurrentWrites="true"
         layout="${time} | ${callsite} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message} "/>
    <target name="logwrite" xsi:type="File" keepFileOpen="false" encoding="utf-8"
          fileName="${logdir}/${shortdate}/${logger}/${level}/current.log"
           archiveFileName="${logdir}/${shortdate}/${logger}/${level}/log.{###}.txt"
           archiveAboveSize="10240000"
           archiveNumbering="Sequence"
           maxArchiveFiles="100"
           concurrentWrites="true"
          layout="${time} | ${callsite} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message} "/>

    <target xsi:type="ColoredConsole"
          name="console"
          useDefaultRowHighlightingRules="false"
          layout="${shortdate} ${time} | ${level} | ${message} ">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="Yellow" />
    </target>
    <target name="email"
            type="Email"
            appname="测试程序"
            host="smtp.163.com"
            port="25"
            displayname="测试告警"
            username="test@163.com"
            password="password"
            from="test@163.com"
            to="to@163.com"
            maxerrorcount="10"
            senderrorcount="1"
            expiredtime="100000"
            layout="${shortdate} ${time} | ${message}"
            />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console"></logger>
    <logger name="*" minLevel="Trace" writeTo="email"></logger>

  </rules>
</nlog>